CompileFlags:
  Add:
    - "-nostdinc"
    - "-isystem"
    - "/home/cardaver/.platformio/packages/toolchain-xtensa-esp32/xtensa-esp32-elf/include/c++/8.4.0"
    - "-isystem"
    - "/home/cardaver/.platformio/packages/toolchain-xtensa-esp32/xtensa-esp32-elf/include/c++/8.4.0/xtensa-esp32-elf"
    - "-isystem"
    - "/home/cardaver/.platformio/packages/toolchain-xtensa-esp32/xtensa-esp32-elf/include"
    - "-isystem"
    - "/home/cardaver/.platformio/packages/toolchain-xtensa-esp32/lib/gcc/xtensa-esp32-elf/8.4.0/include"
    - "-isystem"
    - "/home/cardaver/.platformio/packages/toolchain-xtensa-esp32/lib/gcc/xtensa-esp32-elf/8.4.0/include-fixed"
    - "-D__GLIBC_USE(x)=0"
  Remove:
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -fno-section-anchors
    - -mlongcalls
    - -mfix-esp32-psram-cache-issue
